@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");
* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
.menuitems {
  margin: 0px 1em;
}
.buttonmenu {
  outline-style: none;
  border: none;
  transition: none;
}
.menunav {
  user-select: none;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
body {
  background-color: #f3f3f3;
}
.instabtn {
  background-color: #6f42c1 !important;
  color: white;
}

.boxx {
  position: absolute;
  top: 30%;
}
.car-item .img {
  height: 500px;
  position: relative;
}
.car-item h5 {
  font-size: 4em;
}
.spacebox {
  height: 500px;
}
.back {
  width: 100%;
  height: 100vh;
  background-color: #212529;
  background-image: url(img/logo1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}
.loginandsignup {
  position: absolute;
  top: 82vh;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Rubik", sans-serif;
}

.logotext {
  /*div*/
  font-family: "Ubuntu", sans-serif;
}
/*projects*/
.rows {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.project-section {
  height: 1500px;
}
.js {
  height: 70vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}
.section1 {
  background-color: #282c30;
}
.line {
  width: 100%;
  height: 10px;
  background-color: #35373a;
}

/* --------------------mobile------------------- */
@media screen and (min-width: 1320px) {
  .rows {
    height: 90vh;
  }
}
@media screen and (max-width: 500px) {
  .rows {
    height: 400px;
  }
  .pro-img {
    display: none !important;
  }
}
